.tooltip{
	position:fixed;
	top:200%;
	left:50%;
	background:var(--color1);
	color:var(--text);
	line-height:1.2em;
	padding:8px;
	box-sizing: border-box;
	font-size:.85em;
	min-width:90px;
	max-width:250px;
	text-align:center;
	opacity:0;
	transition:opacity .5s;
	border-radius:5px;
	pointer-events:none;
	height:auto;
	border:1px solid white;
}
.top.tooltip{
	transform:translate(-50%,-10px);
}
.bottom.tooltip{
	transform:translate(-50%,10px);
}
.ttParent:hover{
	z-index:2!important;
}
.ttParent:hover > .tooltip{
	position:absolute;
	opacity:1;
}
.ttParent:hover > .tooltip.top{
	top:auto;
	bottom:100%;
}
.ttParent:hover > .tooltip.bottom{
	bottom:auto;
	top:100%;
}

.tooltip::after{
	content:'';
	width: 13px;
	height: 13px;
	background:var(--color1);
	position:absolute;
	left:50%;
	z-index:1;
}
.top.tooltip::after{
	top:100%;
	bottom:100%;
	border-right:1px solid white;
	border-bottom:1px solid white;
	transform:translate(-50%,-6px) rotate(45deg);
}
.bottom.tooltip::after{
	top:auto;
	bottom:100%;
	border-left:1px solid white;
	border-top:1px solid white;
	transform:translate(-50%,6px) rotate(45deg);
}
