.tooltip{
	position:fixed;
	top:200%;
	left:50%;
	width:100%;
	opacity:0;
	transition:opacity .5s;
	pointer-events:none;
	min-width:32px;
}
.tooltip .text{
	background:var(--color1);
	color:var(--text);
	line-height:1.2em;
	padding:8px;
	box-sizing: border-box;
	font-size:.85em;
	min-width:90px;
	max-width:250px;
	height:auto;
	border:1px solid white;
	border-radius:5px;
	position:relative;
	left:50%;
	transform:translate(-50%);
	overflow-wrap: break-word;
	display:inline-block;
	text-align:center;
}
.tooltip.right .text{
	left:0;
	transform:translate(0);
	text-align:left;
}
.tooltip.left .text{
	left:100%;
	transform:translate(-100%);
	text-align:left;
}
.top.tooltip{
	transform:translate(-50%,-10px);
}

.bottom.tooltip{
	transform:translate(-50%,10px);
}

.ttParent:hover{
	z-index:2!important;
}
.ttParent:hover > .tooltip{
	position:absolute;
	opacity:1;
}
.ttParent:hover > .tooltip.top{
	top:auto;
	bottom:100%;
}
.ttParent:hover > .tooltip.bottom{
	bottom:auto;
	top:100%;
}

.tooltip .arrow{
	width: 13px;
	height: 13px;
	background:var(--color1);
	position:absolute;
	left:50%;
	z-index:1;
}
.top.tooltip .arrow{
	top:100%;
	bottom:100%;
	border-right:1px solid white;
	border-bottom:1px solid white;
	transform:translate(-50%,-7px) rotate(45deg);
}
.bottom.tooltip .arrow{
	top:auto;
	bottom:100%;
	border-left:1px solid white;
	border-top:1px solid white;
	transform:translate(-50%,7px) rotate(45deg);
}
